<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('logged-nav')%>

            <div class="container is-large cart">
                <% if (message) { %>
                    <div id="alert" class="alert closebtn alert-<%= message.type %>">
                        <strong> <%= message.message %> </strong>
                    </div>
                    <% } %>
                        <div class="columns">
                            <div class="column products-details-column">
                                <h3>Product</h3>
                            </div>
                            <div class="column m-centered">
                                <h3>Quantity</h3>
                            </div>
                            <div class="column m-centered">
                                <h3>Price</h3>
                            </div>

                        </div>
                        <% availableProducts.forEach(function(product) {%>


                            <div class="columns products-in-cart">
                                <div class="column products-details-column">
                                    <div class="cart-products">
                                        <a class="cart-products-icon" href="/products-details?id=<%=product.id%>">
                                    <img src="<%=product.product_photo%>" alt="<%=product.product_name%>">
                                        </a>
                                        <div class="cart-product-details">
                                            <h4>
                                                <%=product.product_name%>
                                            </h4>
                                            <p>Price: $<span class="one-piece-price"><%=product.product_price%></span></p>
                                            <p>Size: <span class="one-piece-size"><%=product.product_size%></span></p>
                                            <a class="cart-remove-btn" href="/remove-product?id=<%= product.id %>&product_size=<%= product.product_size %>" onclick="return confirm('Are you sure you want to remove <%= product.product_name %>?')">Remove</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="cart-quantity">
                                        <input class="cart-quantity-input" min="0" type="number" value="<%=product.product_amount%>">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="cart-total m-centered">
                                        <p>$<span class="product-subtotal"></span></p>
                                    </div>
                                </div>
                            </div>
                            <%})%>

                                <div class="columns cart-subtotal-columns">
                                    <div class="column cart-subtotal-column"></div>
                                    <div class="column">
                                        <p>Price</p>
                                        <p>Tax (12%)</p>
                                        <p>Subtotal</p>
                                    </div>
                                    <div class="column">
                                        <div class="cart-price">

                                            <p>$<span>0</span></p>
                                        </div>
                                        <div class="cart-tax">

                                            <p>$<span>0</span></p>
                                        </div>
                                        <div class="cart-subtotal">

                                            <p>$<span>0</span></p>
                                        </div>
                                    </div>
                                </div>
            </div>

            <%- include('footer') %>

    </body>

</html>