<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('nav')%>
            <div class="login-container">
                <% if (message) { %>
                    <div id="alert" class="alert closebtn alert-<%= message.type %>">
                        <strong> <%= message.message %> </strong>
                    </div>
                    <% } %>
                        <h2>LOGIN</h2>
                        <form method="post" action="/login" class="login-form">
                            <!-- <label for="email">Email</label> -->
                            <input type="text" id="email" name="email" placeholder="Email">
                            <!-- <label for="password">Password</label> -->
                            <input type="password" id="password" name="password" placeholder="Password">
                            <button type="submit">Log In</button>
                        </form>

                        <p>Don't have an account?<a href="/register">Register here</a></p>

            </div>
            <%- include('footer') %>

    </body>

</html>