<!DOCTYPE html>
<html lang="en">
<%- include('header') %>

    <body>
        <%- include('nav')%>

            <div class="container is-large all-products">
                <div class="all-products-top">
                    <h2>Browse All Products</h2>
                    <form method="POST">

                        <select onchange=this.form.submit() name="product_category" class="products-category-filter">
                            <option>Search by category</option>
                            <option value="All">All</option>
                            <option value="Jackets">Jackets</option>
                            <option value="Pants">Pants</option>
                            <option value="Shoes">Shoes</option>
                            <option value="Sweaters">Sweaters</option>
                            <option value="Sweatshirts">Sweatshirts</option>
                            <option value="Shirts">Shirts</option>
    
                        </select>
                    </form>
                    <select class="products-sort-filter">
                        <option>Sort by</option>
                        <option>Price (High - Low)</option>
                        <option>Price (Low - High)</option>
                        <option>Alphabetic Order (A - Z)</option>
                        <option>Alphabetic Order (Z - A)</option>

                    </select>
                </div>

                <div class="columns">

                    <% availableProducts.forEach(function(product){ %>

                        <div class="column">
                            <form class="products-form" method="POST">
                                <a class="cart-products-icon" id="submit-a" href="/products-details?id=<%=product.id%>">
                                    <div class="img-container ">
                                        <img src="<%=product.product_photo%>" alt="<%=product.product_name%>">
                                    </div>
                                    <h3>
                                        <%=product.product_name%>
                                    </h3>
                                    <p>$
                                        <%=product.product_price%>
                                    </p>
                                </a>
                            </form>
                        </div>

                        </form>
                        <% }) %>

                </div>
            </div>
            <%- include('footer') %>

    </body>

</html>